body{
  /* By default, the body has margins. We want to reset these so our elements can span the entire width of the page. */
  margin:0;
}
#header{
  background-color: #46351D;
  border-bottom:1px solid #FF6103;
  padding:15px 100px;
  overflow:auto;
  margin-bottom:50px;
  height:35px;
}
#header .logo{
  width:50%;
  height:100%;
  float:left;
  display:inline-block;
}
#header .logo img{
  height:100%;
}
#header .nav{
  float:right;
  width:50%;
  text-align:right;
  display:inline-block;
  line-height:35px;
}
#header .nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
#header .nav li{
  display:inline-block;
}
#header .nav li a{
  text-decoration:none;
  color:white;
  margin:0px 10px;
}
#products{
  margin:auto 100px;
  padding:25px;
  background-color:#FF6103;
}
#brown{
  color:#46351D;
}
#orange{
  color:#FF6103;
}
#green{
  color:#646F4B;
}
#products #planter img{
  width:25%;
  height:25%;
  margin:15px;
}
#products #lightBulb img{
  width:25%;
  height:25%;
  margin:15px;
}
#products #dock img{
  width:25%;
  height:25%;
  margin:15px;
}
.productHeader{
  position:relative;
  bottom:355px;
  left:345px;
  font-family:Arial;
  font-size: 45px;
  color:#646F4B;
}
.productDescription{
  position:relative;
  bottom:375px;
  left:315px;
  font-family:Arial;
  font-size: 25px;
  color:white;
  margin-left: 35px;
  width:838px;
}
span{
  position:relative;
  bottom:375px;
  left:315px;
  font-family:Arial;
  font-size: 45px;
  color:#46351D;
  margin-left: 35px;
  width:838px;
}

a{
  position:relative;
  bottom:375px;
  left:315px;
  font-family:Arial;
  font-size: 45px;
  color:#46351D;
  margin-left: 35px;
  width:838px;
  text-decoration: none;
}

a:hover{
  color:gray;
}

#dock{
  position:relative;
  bottom:565px;
}

#lightBulb{
  position:relative;
  bottom:300px;
}


